<div class="container">
  <div
    class="overflow-hidden py-2"
    style="background-color: {{ section.settings.bg_color }}; color: {{ section.settings.text_color }};"
  >
    <div class="whitespace-nowrap animate-marquee inline-block">
      {{ section.settings.announcement_text }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "Big discount alert!"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#1d4ed8"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}
