<header>
  <h2 class="header__title">
    {{ shop.name | link_to: routes.root_url }}
  </h2>
  <div class="header__menu">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>
</header>
